    
    
.picture{
    width: 400px;
    height: 600px;
    margin-top: 20px;
    left: 740px;
    position:absolute;
    &:hover{
        .block{
            transform: scale(1,1);
            opacity: 1;
            transition: .3s ease all;
        }

    }
    .block{
        display: inline-block;
        position: relative;
        width: 270px;
        height: 500px;
        background-color: white;
        border-radius: 3px;
        z-index: 1;
        opacity: 0;
        transform: scale(.5);
        margin: {
            top: 60px;
            left: 20px;
        }
            h3{
                position: absolute;
                top: 400px;
                left: 100px;
                color: rgb(11, 216, 79);
                font-size: 22px;
            }
            h4{
                position:absolute;
                top: 350px;
                left: 63px;
                font-family: Arial, Helvetica, sans-serif;
            }
            h5{
                position: absolute;
                left: 107px;
                top: 425px;
                color: grey;
                font-size: 16px;
                font-family: Arial, Helvetica, sans-serif;
            }
            button{
                position: absolute;
                top: 453px;
                width: 270px;
                height: 47px;
                border: 1px solid rgb(68, 67, 67);
                border-radius: 2px;
                color: white;
                background-color: rgb(51, 48, 48);
                    &:hover{
                        background-color: rgb(68, 66, 66);
                        transition: .3s ease all;
                        cursor: pointer;
                    }
            }
    }
    .runner{
        position: absolute;
        width: 230px;
        height: 350px;
        top: 40px;
        left: 40px;
        z-index: 2;
    }
}
